@model IEnumerable<qlthucung.Models.DichVu>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="post-slider">
    <div class="post-wrapper">
        <div class="post">
            <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="text-white mb-5">
                Dịch vụ chăm súc thú cưng tại PetStore

                <div class="row mt-5">
                    <div class="col-lg-4 col-md-4">
                        <div class="mainServices">
                            <i class="fa fa-paw"></i>
                            <div class="mainServices__content">
                                <h3>Chăm Sóc</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="mainServices">
                            <i class="fa fa-cutlery"></i>
                            <div class="mainServices__content">
                                <h3>Ăn Uống</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="mainServices">
                            <i class="fa fa-gavel"></i>
                            <div class="mainServices__content">
                                <h3>Đồ chơi & Phụ kiện</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </h1>
            <img src="~/Content/images/banner_5-scaled.jpg" alt="">
        </div>
    </div>

</div>

<div class="modal">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">

        @*<h4 class="text-danger">@Html.Raw(TempData["mgss"])</h4>*@

        <div class="modal-header">
            <button class="modal-close modal-toggle btn fa fa-times" style="outline: none;"></button>
            <h2 class="modal-heading">Đặt lịch hẹn</h2>
        </div>

        <style>
            .form-horizontal .control-label {
                text-align: unset !important;
            }
        </style>

        @*<div class="modal-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @if (Session["Username"] != null)
                    {
                        <div style="display:none;">@Session["Username"]</div>
                    }

                    <div class="form-group">
                        @Html.LabelFor(model => model.hoten, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.hoten, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.hoten, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.sdt, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.diachi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.diachi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.tendichvu, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <style>
                                select.form-control:not([size]):not([multiple]) {
                                    height: unset !important;
                                }
                            </style>
                            <select id="loaidv" name="loaidv" class="form-control">
                                <option value="Chăm sóc toàn diện">Chăm sóc toàn diện</option>
                                <option value="Tắm, gội,...">Tắm, gội,...</option>
                                <option value="Spa cho pet">Spa cho pet</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.tendichvu, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ngaydat, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <input type="date" name="ngaydat" class="form-control" required />
                            @Html.ValidationMessageFor(model => model.ngaydat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Xác Nhận" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }
        </div>*@
    </div>
</div>

<div class="body">
    <div class="container-fluid" style="padding: 0!important;">
        <div style="background-image: url('../../Content/images/bg_7.jpg')" class="service-banner">
            <div class="boxservice">
                <h3 class="h1-title">
                    PetStore CHĂM SÓC TOÀN DIỆN, “THIÊN ĐƯỜNG" CỦA THÚ CƯNG!
                </h3>
                <p>Với mong muốn được trở thành ngôi nhà thứ hai của thú cưng, Petstore mang đến những dịch vụ lẫn sản phẩm cần thiết nhất mà mọi người bạn dễ thương này.</p>

                <button class="btn btn-danger mt-5 modal-toggle">Đặt lịch ngay!</button>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4" style="padding: 15px!important;">
            <div style="background-color: #2885BA" class="service-list__content-box">
                <img src="~/Content/images/svmeo.jpg" alt="">
                <h3 class="h1-title">
                    1. PET STORE - NƠI CHĂM SÓC THÚ CƯNG CHẤT LƯỢNG!
                </h3>

                <p>
                    Những chuyến du lịch hay công tác dài ngày khiến bạn cảm thấy lo lắng khi phải gửi gắm bé yêu cho ai đó chăm nom hộ?
                    Khách sạn thú cưng hiện đại sẽ giúp chủ nuôi hoàn toàn yên tâm khi “đặt phòng" cho bé!
                </p>

            </div>
        </div>
        <div class="col-lg-4" style="padding: 15px!important;">
            <div style="background-color: #B56256" class="service-list__content-box">
                <img src="~/Content/images/svmeo2.jpg" alt="">
                <h3 class="h1-title">
                    2. PET STORE - NƠI CUNG CẤP THỨC ĂN, CÁT VỆ SINH,... CHẤT LƯỢNG NHẤT!
                </h3>

                <p>
                    Tại Pet Store, chúng tôi cung cấp mọi nhu cầu mà thú cưng cần với giá cả hợp lý và chất lượng hàng đầu!
                </p>

                <p>
                    Đa dạng món ăn hấp dẫn từ các nhãn hiệu lớn trong và ngoài nước, mùi vị hấp dẫn.
                </p>
            </div>
        </div>
        <div class="col-lg-4" style="padding: 15px!important;">
            <div style="background-color: #5C9CCA" class="service-list__content-box">
                <img src="~/Content/images/svmeo3.jpg" alt="">
                <h3 class="h1-title">
                    3. CUNG CẤP CÁC DỊCH VỤ SPA, TẮM RỬA,... CHẤT LƯỢNG NHẤT!
                </h3>

                <p>
                    Những chuyến du lịch hay công tác dài ngày khiến bạn cảm thấy lo lắng khi phải gửi gắm bé yêu cho ai đó chăm nom hộ?
                    Khách sạn thú cưng hiện đại sẽ giúp chủ nuôi hoàn toàn yên tâm khi “đặt phòng" cho bé!
                </p>
            </div>
        </div>

    </div>

    <div class="service-text mb30">
        <div class="service-text__content">
            <h2 class="h2-title">
            </h2><h2 class="h2-title">Chăm sóc toàn diện, tận tâm và xuất phát từ tình yêu với thú cưng chính là tôn chỉ của mọi dịch vụ luôn sẵn sàng đón tiếp quý khách!</h2>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <img class="banner-service" src="~/Content/images/svbg.jpg" alt="">

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    // Quick & dirty toggle to demonstrate modal toggle behavior
    $(document).ready(function () {
        $('.modal-toggle').on('click', function (e) {
            e.preventDefault();
            $('.modal').toggleClass('is-visible');
        });
    })

</script>