@model IEnumerable<qlthucung.Models.SanPham>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body" style="margin-top: 50px;">

    <div class="body__mainTitle d-flex justify-content-between align-items-center">
        <h2>Tìm kiếm sản phẩm có tên: @TempData["nameProduct"]</h2>
        @*<h4 class="text-danger">@Html.Raw(TempData["thongbaododai"])</h4>
        <h4 class="text-danger">@Html.Raw(TempData["thongbaodetrrong"])</h4>*@

    </div>

    <div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-2_5 col-md-4 col-6 post2">
                    <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Masp">
                        <div class="product">
                            <div class="product__img">
                                <img src="@item.Hinh" alt="">
                            </div>
                            @if (item.Giamgia == 0 || item.Giamgia == null)
                            {
                                <div class="product__sale">
                                    <h4>Mới</h4>
                                </div>

                            }
                            else
                            {
                                <div class="product__sale">
                                    <h4>@item.Giamgia %</h4>
                                </div>
                            }
                            <div class="product__content">
                                <div class="product__title">
                                    @item.Tensp
                                </div>

                                @if (!(item.Giamgia == 0 || item.Giamgia == null))
                                {
                                    <div class="product__pride-oldPride">
                                        <span class="Price">
                                            <bdi>
                                                @string.Format("{0:N0}", item.Giaban)
                                                <span class="currencySymbol">₫</span>
                                            </bdi>
                                        </span>
                                    </div>
                                }

                            </div>
                        </div>

                        <div>
                            <div class="product__pride-newPride">
                                <span class="Price">
                                    <bdi>
                                        @string.Format("{0:N0}", item.Giakhuyenmai)
                                        <span class="currencySymbol">₫</span>
                                    </bdi>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>

            }
        </div>
    </div>

</div>