@model qlthucung.Models.SanPham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 padding-10">
    <h1>Details</h1>

    <div>
        <h4>SanPham</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tensp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tensp)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Hinh)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Hinh)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Giaban)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Giaban)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ngaycapnhat)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ngaycapnhat)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Soluongton)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Soluongton)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Mota)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Mota)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Giamgia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Giamgia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Giakhuyenmai)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Giakhuyenmai)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdDanhmucNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdDanhmucNavigation.IdDanhmuc)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdthuvienNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdthuvienNavigation.Idthuvien)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Masp">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>

