@model PaginatedList<DonHang>

@{
    ViewData["Title"] = "QLDonHang";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 padding-8">
    @*<div class="d-flex justify-content-between">
        <h2>Quản lý đơn hàng</h2>
        @using (Html.BeginForm("Index", "QLDonHang", FormMethod.Post))
        {
            <h3>Tìm kiếm đơn theo ngày đặt</h3>
            <input type="date" name="DonTheoNgay" required />

            <input type="submit" value="Kiểm tra" />
        }
    </div>*@

    <div class="body fix-width scroll-inner" style="margin: 50px 0;">
        <table class="table table-striped">
            <tr>
                <th>
                    Mã kh
                </th>
                <th>
                    Thanh toán
                </th>
                <th>
                    Trạng thái
                </th>
                <th>
                    Ngày đặt
                </th>
                <th>
                    Ngày giao
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Makh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Thanhtoan)
                    </td>
                    <td>
                        @if (item.Giaohang == "chờ xử lý")
                        {
                            <div style="color: #007bff;">@item.Giaohang</div>
                        }
                        else if (item.Giaohang == "đang xử lý")
                        {
                            <div style="color: orange;">@item.Giaohang</div>
                        }
                        else if (item.Giaohang == "đang giao")
                        {
                            <div style="color: forestgreen;">@item.Giaohang</div>
                        }
                        else if (item.Giaohang == "giao thành công")
                        {
                            <div style="color: green;">@item.Giaohang</div>
                        }
                        else if (item.Giaohang == "hủy")
                        {
                            <div style="color: red;">@item.Giaohang</div>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ngaydat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ngaygiao)
                    </td>

                    <td>
                        <a asp-action="QLChiTietDonHang" asp-route-id="@item.Madon">Chi tiết đơn hàng</a>
                        @*<a href="@Url.Action("Delete", new { id = item.madon })" class="text-primary f2"><i class="fa-solid fa-trash-can"></i></a>*@
                    </td>
                </tr>
            }

        </table>
    </div>

    <!--Pagination-->
    <ul class="pagination justify-content-center" style="margin: 10px auto;">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("QLDonHang", new { pageNumber = Model.PageIndex - 1 })">Previous</a></li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.PageIndex)
            {
                <li class="page-item active"><a href="" class="page-link"> @i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("QLDonHang", new { pageNumber = i })">@i</a></li>
            }
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("QLDonHang", new { pageNumber = Model.PageIndex + 1 })">Next</a></li>
        }
    </ul>

</div>